<!DOCTYPE html>
<html>

<head>
    <title>Comparing Interview Trails</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 align="center" id="PageTitle">Comparing Interview Trails</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js"></script>

    <br>
    <br>
    <!--
    <div align="center">
        <table cellpadding="5" cellspacing="5" style="width:100%">
            <tr align="center">
                <td align="center">
                    <img class="needContrast" width="300" height="300" src="pictures/whitecoat.jpg" alt="white coat picture">
                </td>
                <td>

                </td>
                <td align="center">
                    <img class="needContrast" width="300" height="300" src="pictures/mike.jpg" alt="technical interview selfie">
                </td>
            </tr>
        </table>
    </div>
    -->

    <div>
        <div style="width: 50%; height: 300px; float:left; display: flex; position: relative; align-items: center; justify-content: center;">
                <img class="needContrast" width="300" height="300" src="pictures/whitecoat.jpg" alt="white coat picture">
            </div>
            
        <div style="width: 50%; height: 300px; float:right; display: flex; position: relative; align-items: center; justify-content: center;">
                <img class="needContrast" width="300" height="300" src="pictures/mike.jpg" alt="technical interview selfie">
        </div>
    </div>

    <br style="clear:both;"/>
    <br>

    <h3>Why the Technical Interview Trail is So Much Better Than Applying to Medical School and Residency</h3>

    <p>I actually had applied to medical school twice had been on at least a dozen interviews in total in my premed days. I have also done two seasons of intership application for technical positions during my time at UIUC, having attended quite a few first
        round and two on-site interviews thusfar. In conclusion, I have come to realize that if you want a job search that is enjoyable tech is definitely the way to go. Now all this is from the tech student's perspective that I am making the home reference
        point. From all measures I see that, the tech interview trail experience is demonstrably better compared to interviewing for medical school or residency.
    </p>

    <ul>
        <li>We do not have to pay an "application fee" just for the benefit of applying. In the healthcare world, this even applies to residency. Although you may have the "M.D./D.O." title and residency is technically employment, you are not licensed to
            practice independently because residency is a form of required post-graduate medical training. So tech students have less debt to worry about financially.
        </li>
        <li>When tech companies decide to interview you, even if there are multiple rounds, the applicant incurs the least cost at every stage. A large feeder school such as UIUC would have a heavy recruiter presence and so many interviews conveniently take
            place on the college campus. Otherwise, most interviews easily take place over Skype and an early knockout won't necessitate you spending airfare for a slim chance to even get on a waitlist. It happened to me, as the medical school I ended
            up matriculating at was interviewing for waitlist spots ONLY when I was invited to interview.
        </li>
        <li>Most serious final round interviews would have you fly out ON THEM. Hotel (nice ones), transportation, food even. All paid for by any reputable tech company. Medical students actually have to take out loans and budget to go on the interview trail.
        </li>
        <li>When you move for internship, you often don't have to cover the majority or even entirety of your housing expenses. It is either paid for or you get a stipend.</li>
        <li> YMWV depending on the company, but many reputable tech companies will go out of the way to entertain and pamper their interns to the best of their abilities with events and allowances.
        </li>
        <li> Did I mention the endless swag at every stage of the technical recruiting process? I'm actually wearing the hoodie I got on my interview day (I'll put out a picture of my swag cache once everything is organized).</li>
    </ul>
</body>

<br>
<p></p>
<footer id="myfooter"></footer>
<script src="/react_header_render.js"></script>

</html>