<!DOCTYPE html>
<html>

<head>
    <title>A Pilgrimage for Any Computer Science Student</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 id="PageTitle" align="center">A Pilgrimage for Any Computer Science Student</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js">
    </script>

    <h1>West Coast, Best Coast, Microsoft!</h1>
    <script type="text/javascript">
        var imgArray = new Array()

        for (i = 0; i < 16; i++) {
            imgArray[i] = new Image();
            imgArray[i].src = '/pictures/msft/picture' + i + '.jpg';
        }
    </script>

    <p align="center"><img src="/pictures/msft/picture0.jpg" name="slide" width="720" height="540"></p>
    <script type="text/javascript">
        var step = 0;

        function slideit() {
            document.images.slide.src = eval("imgArray" + "[" + step + "]" + ".src")
            if (step < 15)
                step++;
            else
                step = 0
            setTimeout("slideit()", 3000)
        }
        slideit()
    </script>

    <h3>Seriously, unless you have already committed to another intern/full-time offer in writing, if even merely given the chance to interview onsite just do it to take in the environment!
    </h3>

    <p>I thought I'd just interview gracefully, have fun on Microsoft's dime, and be humored over a weekend. Never did I think I had a chance to land THIS internship! I knew I had to seize this opportunity when I heard I got a chance to intern with the company
        that aspires to "empower every person and every organization on the planet to achieve more". I learned so much this summer and crossed so many things off my bucket list. Web API's don't seem so scary when you know how to manipulate the resource
        endpoint. It has opened my eyes to new possibilities I could not have imagined before in my career journey.
    </p>

    <p>This summer, I worked with the Windows Servicing and Delivery team that own the <b><a href="https://docs.microsoft.com/en-us/windows/deployment/update/update-compliance-using">Update Compliance (UC)</a></b> solution on the Operations Management Suite
        (OMS) platform to ensure that business organizations are on schedule to get the latest and greatest of Windows 10. During this internship, I worked on integrating Active Directory data into a device telemetry stream. At first, I didn't see the
        connection between the two, but then I was able to grasp identifying devices in organizational context allows for better planning around business deadlines and optimized update deployment schedules. So I wrote a proof-of-concept web service to
        do just that, and the enriched experience as demoed was well received during our all-hands meeting. Secondly, it was really intellectually challenging migrating the UC solution to accomodate a new big database query language by documenting best
        practices in the TypeScript as I examined what new data structures need parsing and how could the new query syntax be constructed. It is amazing to me that effective October 2017 some of the code I wrote will be part of helping build on the hard
        work of the team to provide accurate assessment of update deployement outcomes for the Windows 10 experience.
    </p>

    <p>Thank you to Maggie Bott, the WSD team (that I interned for including Ranjith, Ramesh, Hari, Canek and Anil who worked most directly with me), and the internship/recuirtment coordination team for everything, a truly unforgettable summer.
    </p>


</body>
<footer id="myfooter"></footer>
<script src="/react_header_render.js"></script>

</html>