<!DOCTYPE html>
<html>

<head>
    <title>Your Nice Surpirse</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 id="PageTitle" align="center">Your Nice Surprise</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js">
    </script>

    <h1>Now aren't you glad you came here?</h1>
    <script type="text/javascript">
        var imgArray = new Array()

        for (i = 0; i < 12; i++) {
            imgArray[i] = new Image();
            imgArray[i].src = '/pictures/pretty/picture' + i + '.jpg';
        }
    </script>

    <p align="center"><img src="/pictures/pretty/picture0.jpg" name="slide" width="720" height="540"></p>
    <script type="text/javascript">
        var step = 0;

        function slideit() {
            document.images.slide.src = eval("imgArray" + "[" + step + "]" + ".src")
            if (step < 11)
                step++;
            else
                step = 0
            setTimeout("slideit()", 3000)
        }
        slideit()
    </script>

    <h3>Your Nice Surprise</h3>

    <p>A pretty song called "Lavendar Hills" by <b><a href="https://www.amazon.com/Lavender-Hills/dp/B0013PDGWU" target="_blank">Brian Crain</a></b> to pretty pictures. Just click the <b>PLAY</b> button to enjoy with slideshow.
    </p>

    <br>
    <div id="player" align="center">
        <audio controls>
         <source src="music/lavendarhills.mp3" type="audio/mpeg">
                If you're reading this, audio isn't supported. 
        </audio>
    </div>

    <br><br>

    <div></div>
</body>
<footer id="myfooter"></footer>
<script src="/react_header_render.js"></script>

</html>