<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 align="center" id="PageTitle">Projects</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js"></script>


    <h1 align="center">A Few Project I Have Worked On</h1>

    <br>

    <table>
        <tr>
            <td class="projectTable">
                <a href="https://github.com/mikeliu8492/aliq-dotnet"><img class="needContrast" width="500" height="128" src="pictures/project/ALIQ.JPG" alt="ALIQ Nuget site"></a>
            </td>
            <td class="projectTable">
                <h3 align="center"><a href="https://github.com/mikeliu8492/aliq-dotnet">ALIQ .NET</a></h3>

                <p padding="10px"> This was a project I contributed to during the OneWeek Hackathon at Microsoft. It basically is a .NET DLL library that allows developers to write database query logic in their own native development language (in this case C#). I learned
                    a lot about interfaces, lambda functions, and filestream handlers in the course of this project, and even got to put my API endpoint calling skills during the summer to work.
                </p>
            </td>
        </tr>
    </table>

    <hr>
    <br>
    <table>


        <tr>
            <td class="projectTable">
                <a href="https://github.com/mikeliu8492/Chess"><img class="needContrast" width="500" height="395" src="pictures/project/chess.JPG" alt="chess board"></a>
            </td>
            <td class="projectTable">
                <h3 align="center"><a href="https://github.com/mikeliu8492/Chess">CHESS</a></h3>

                <p> This is a chess game I built that can be forked from my github and run in Eclipse. It allows for most standard rules and keeps track of scoring. Allows for undoing the current player's single move, unilateral surrender, or mutual armistice
                    (i.e. neither player scores). Built in Java with Javax.Swing.
                </p>
            </td>
        </tr>
    </table>

    <hr>
    <br>

    <table>
        <tr>
            <td class="projectTable">
                <a href="https://github.com/mikeliu8492/Minesweeper2.0"><img class="needContrast" width="500" height="308" src="pictures/project/minesweeper.JPG" alt="minesweeper board"></a>
            </td>
            <td class="projectTable">
                <h3 align="center"><a href="https://github.com/mikeliu8492/Minesweeper2.0">MINESWEEPER 2.0</a></h3>

                <p>This is another game coded Java with the Javax.Swing library that can be forked from github and run in Eclipse. It builds upon the classical Windows game by adding grey texts to remind you of constraints when customizing your game and
                    gives scoring depending on difficulty level, time elapsed, etc.
                </p>
            </td>
        </tr>
    </table>

    <br>

</body>

<footer id="myfooter"></footer>
<script src="/react_header_render.js"></script>

</html>