<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 align="center" id="PageTitle">Projects</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js"></script>


    <h1 align="center">A Few Project I Have Worked On</h1>

    <br>


    <div>
        <div style="width: 50%; min-height: 300px; float:left; display: flex; position: relative; align-items: center; justify-content: center;">
            <a href="http://nycmortality.herokuapp.com/" target="_blank"><img class="needContrast" width="100%" height="51%" style="max-width: 500px; max-height:257px" src="pictures/project/nycmortality.JPG" alt="NYC Mortality site"></a>
            </div>
            
        <div style="width: 50%; min-height: 300px; float:right; display: flex; position: relative; align-items: center; justify-content: center;">
            <div style="margin: 30px">
                <h3 align="center"><a href="http://nycmortality.herokuapp.com/" target="_blank">NYCMortality</a></h3>            
                <p padding="10px"> Website coded in Node, Express, React, and Bootstrap to visualize leading causes of mortality data in New York Metropolitan area by race/gender as obtained by data.gov API dataset from the New York Department of Health and Mental Hygiene.
                </p>
            </div>
        </div>
    </div>

    <br style="clear:both;"/>
    <hr>
    <br>

    <div>
        <div style="width: 50%; min-height: 300px; float:left; display: flex; position: relative; align-items: center; justify-content: center;">
            <a href="https://github.com/mikeliu8492/aliq-dotnet" target="_blank"><img class="needContrast" width="100%" height="26%" style="max-width: 500px; max-height: 126px;" src="pictures/project/ALIQ.JPG" alt="ALIQ Nuget site"></a>
            </div>
            
        <div style="width: 50%; min-height: 300px; float:right; display: flex; position: relative; align-items: center; justify-content: center;">
            <div style="margin: 30px">
                <h3 align="center"><a href="https://github.com/mikeliu8492/aliq-dotnet" target="_blank">ALIQ .NET</a></h3>            
                <p padding="10px"> This was a project I contributed to during the OneWeek Hackathon at Microsoft. It basically is a .NET DLL library that allows developers to write database query logic in their own native development language (in this case C#). I learned
                    a lot about interfaces, lambda functions, and filestream handlers in the course of this project, and even got to put my API endpoint calling skills during the summer to work.
                </p>
            </div>
        </div>
    </div>
    
    <br style="clear:both;"/>
    <hr>
    <br>

    <div>
        <div style="width: 50%; min-height: 450px; min-height: 450px; float:left; display: flex; position: relative; align-items: center; justify-content: center;">
            <a href="https://github.com/mikeliu8492/Chess"><img class="needContrast" width = "100%" height= "79%" style="max-width: 500px; max-height: 395px" src="pictures/project/chess.JPG" alt="chess board"></a>
            </div>
            
        <div style="width: 50%; min-height: 450px; float:right; display: flex; position: relative; align-items: center; justify-content: center;">
            <div style="margin: 30px">
                <h3 align="center"><a href="https://github.com/mikeliu8492/Chess" target="_blank">CHESS</a></h3>                
                <p> This is a chess game I built that can be forked from my github and run in Eclipse. It allows for most standard rules and keeps track of scoring. Allows for undoing the current player's single move, unilateral surrender, or mutual armistice
                    (i.e. neither player scores). Built in Java with Javax.Swing.
                </p>
            </div>
        </div>
    </div>

    <br style="clear:both;"/>
    <hr>
    <br>

    <div>
        <div style="width: 50%; min-height: 350px; float:left; display: flex; position: relative; align-items: center; justify-content: center;">
            <a href="https://github.com/mikeliu8492/Minesweeper2.0" target="_blank"><img class="needContrast" width="95%" height="58%" max-width="500" max-height="308" src="pictures/project/minesweeper.JPG" alt="minesweeper board"></a>
            </div>
            
        <div style="width: 50%; min-height: 350px; float:right; display: flex; position: relative; align-items: center; justify-content: center;">
            <div style="margin: 30px">
                    <h3 align="center"><a href="https://github.com/mikeliu8492/Minesweeper2.0 target=" _blank "">MINESWEEPER 2.0</a></h3>
                <p>This is another game coded Java with the Javax.Swing library that can be forked from github and run in Eclipse. It builds upon the classical Windows game by adding grey texts to remind you of constraints when customizing your game and
                    gives scoring depending on difficulty level, time elapsed, etc.
                </p>
            </div>
        </div>
    </div>


    <br style="clear:both;"/>
    <br><br>

    

</body>

<footer id="myfooter"></footer>
<script src="/react_header_render.js"></script>

</html>