<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1 align="center" id="PageTitle">Projects</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js"></script>


    <h2>A few I have been working on</h2>

    <br>
    <div align="center">
        <img class="needContrast" src="pictures/project/ALIQ.jpg" alt="ALIQ Nuget site">
    </div>

    <h3>ALIQ .NET</h3>

    <p> This was a project I contributed to during the OneWeek Hackathon at Microsoft. It basically is a .NET DLL library that allows developers to write database query logic in their own native development language (in this case C#). I learned a lot about
        interfaces, lambda functions, and filestream handlers in the course of this project, and even got to put my API endpoint calling skills during the summer to work.
    </p>

    <br>
    <div align="center">
        <img class="needContrast" width="506" height="400" src="pictures/project/chess.jpg" alt="chess board">
    </div>

    <h3><a href="">Chess</a></h3>

    <p>This is a chess game I built that can be forked from my github and run in Eclipse. It allows for most standard rules and keeps track of scoring. Allows for undoing the current player's single move, unilateral surrender, or mutual armistice
        (i.e. niether player scores). Built in Java with Javax.Swing.
    </p>

    <br>
    <div align="center">
        <img class="needContrast" width="648" height="400" src="pictures/project/minesweeper.jpg" alt="minesweeper board">
    </div>

    <h3>Minesweeper 2.0</h3>

    <p>This is another game coded Java with the Javax.Swing library that can be forked from github and run in Eclipse. It builds upon the classical Windows game by adding grey texts to remind you of constraints when customizing your game and gives scoring
        depending on difficulty level, time elapsed, etc.
    </p>

    <br>

</body>

<footer>
    <ul>
        <li><a href="#PageTitle">Back to Top</a></li>
    </ul>
</footer>

</html>