<!DOCTYPE html>
<html>

<head>
    <title>Mike Liu's Homepage</title>
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Mike's Homepage</h1>

    <header id="introheader">
    </header>

    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="/react_header_render.js">
    </script>

    <table border="0" cellpadding="5" cellspacing="5">
        <tr>
            <td> <img width="300" height="300" src="pictures/mike_tough.jpg">
            </td>
            <td>
                “Bart BAker.”
                <br> ― Mick Jagger
            </td>
        </tr>
    </table>


</body>

</html>