body {
    margin: 60px auto;
    width: 80%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

footer li {
    float: left;
}

footer li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
    color: #00b3b3;
}


header li a:hover {
    background-color: #111;    
    text-decoration: underline;
    color: white;
}


footer li a:hover {
    background-color: #111;    
    text-decoration: underline;
    color: white;
}






h1 {
    font-size: 3em;
    font-family: 'Arial', 'Helvetica', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

.needContrast {
    border: 2px solid black;
}


audio::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure {
    overflow: hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px);
    /* Adjust as needed */
}

tr td.projectTable {
    border: 0;
    padding: 30px;
    vertical-align: auto;
}

hr {
    height: 2px;
    color: #000080;
    background-color: #000080;
    border: none;
}