body {
    margin: 60px auto;
    width: 80%;
}

nav ul,
footer ul {
    font-family: 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul,
header ul {
    font-family: 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
header ul li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}

header {
    border-top: 1px solid #000080;
    border-bottom: 1px solid #000080;
    font-size: 1em;
}

header ul li+li {
    border-left: 2px solid #000080
}

a {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
    color: #00b3b3;
}

h1 {
    font-size: 3em;
    font-family: 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

footer {
    border-top: 1px solid #000080;
    border-bottom: 1px solid #000080;
    font-size: 1em;
}

.needContrast {
    border: 2px solid black;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 30%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slider infinite;
}

audio::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure {
    overflow: hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px);
    /* Adjust as needed */
}